.root {
  position: relative;
  display: inline-block;
  border-radius: 2px;
}
.root > * {
  display: block;
}
.tag {
  padding: 2px;
}
.tagWrapper {
  visibility: hidden;
  position: absolute;
  display: flex;
  height: 20px;
  top: -20px;
  font-size: 80%;
  pointer-events: none;
  white-space: nowrap;
}
.root:hover .tagWrapper {
  visibility: visible;
}
